%title-20 {
  font-family: $Raleway;
  font-size: 2rem;

}

%title-30 {
  font-family: $Raleway;
  font-size: 3rem;
}

%title-53 {
  font-family: $Raleway;
  line-height: 1;
  font-size: 5.3rem;
}
%title-60 {
  font-family: $Raleway;
  font-size: 6rem;
}
%title-100 {
  font-family: $Raleway;
  line-height: 1;
  font-size: 10rem;

}

%title-120 {
  font-family: $Raleway;
  font-size: 12rem;
  line-height: 0.82;
}

%title-200 {
  font-family: $Montserrat;
  font-size: 20rem;
}
%title-300 {
  font-family: $Montserrat;
  letter-spacing: -1rem;
  font-size: 30rem;
}

