.logo{
  color: $primary-color;
  cursor: pointer;
  flex-grow:2;
  font-family: $Lato, sans-serif;
  font-size: 4rem;
  font-weight: 700;

  &:hover {
    color: rgba($primary-color, 0.8)
  }
}
.navbar {
  padding-top: 5rem;

  & .content__wrapper{
    align-items: center;
    display: flex;
    padding: 1rem 0.5rem;
    width: 100%;
  }

  &__list{
    display: flex;
    flex-grow: 1;
    font-size: 2rem;
    position: relative;
  }

  &__link {
    padding: 0.5rem;
    position: relative;    
    display: block;
    overflow: hidden;
    height: 100%;
    padding-right: 1rem;

    &::first-letter {
      text-transform: capitalize;
    }

    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      border-bottom: 1px solid $primary-color;
      transition: transform 0.5s ease-in;
      transform-origin: right center;
      transform: scaleX(0);
    }
    
    &:last-child{
      position: absolute;
      border-bottom: 0.1rem solid $primary-color;
      padding-right: 0;
      right: 0rem;
    } 
    &:hover::after{
      transform-origin: left center;
      transform: scaleX(1);
    }
  }
}
