*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}
html {
  font-size: 0.66rem;
  font-family: RalewayRegular, sans-serif;
}
body {
  overflow-x: hidden;
  padding: 2rem;
}
.content__wrapper {
  max-width: 128rem;
  margin: 0 auto;
  background-color: red;
}