$primary-color: #001014;
$secondary-color: #ADCAD6;
$tertiory-color:  #F18F01;

$Raleway: "Raleway";
$Lato: "Lato";
$Montserrat: "Montserrat";

$letter-space-high: 0.6rem; 
$letter-space-mid: 0.3rem; 
$letter-space-low: 0.15rem; 