$primary-color: #001014;
$secondary-color: #ADCAD6;
$tertiory-color:  #F18F01;

$font-primary: RalewayRegular, sans-serif;
$font-bold: RalewayBold, sans-serif;
$font-header: Lato, RalewayBold, sans-serif;

$letter-space-high: 0.6rem; 
$letter-space-mid: 0.3rem; 
$letter-space-low: 0.15rem; 